{% if note %}
	<div class="game-review">
		<div class="review-header">
			<h2 class="review-title">[ <span class="review-rating">{{ note }}</span> ] {{ fn('get_post_meta', post_id, 'review_game_title', true) }}</h2>
		</div>
		
		<div class="review-sheet">
		<ul>
			{% set rrdj = fn('get_post_meta', post_id, 'review_release_date_japan', true) %}
			{% if rrdj %}
			<li><strong>Date de sortie (japon) : </strong>{{ rrdj|date("d/m/Y")  }}</li>
			{% endif %}


			{% set rrge = fn('get_post_meta', post_id, 'review_release_date_europe', true) %}
			{% if rrge %}
			<li><strong>Date de sortie (Europe) : </strong>{{ rrge|date("d/m/Y")  }}</li>
			{% endif %}

			{% set rrd = fn('get_post_meta', post_id, 'review_developer', true) %}
			{% if rrd %}
			<li><strong>Développeur : </strong> {{ rrd }}</li>
			{% endif %}

			{% set rrp = fn('get_post_meta', post_id, 'review_publisher', true) %}
			{% if rrp %}
			<li><strong>Éditeur : </strong> {{ rrp }}</li>
			{% endif %}

			{% set rrg = fn('get_post_meta', post_id, 'review_genre', true) %}
			{% if rrrrggj %}
			<li><strong>Genres : </strong> {{ rrg|replace({';':', '}) }}</li>
			{% endif %}

			{% set rrc = fn('get_post_meta', post_id, 'review_console', true) %}
			{% if rrc %}
			<li><strong>Consoles : </strong> {{ rrc|replace({';':', '}) }}</li>
			{% endif %}
			
		</ul>
			
		</div>
		

		<div class="review-summary">
			{{ fn('get_post_meta', post_id, 'review_review_summary', true) }}
		</div>
		
		
		<div class="review-points">
			<div class="positive-points">
				{{ fn('get_post_meta', post_id, 'review_positive_points', true) }}
			</div>
			<div class="negative-points">
				{{ fn('get_post_meta', post_id, 'review_negative_points', true) }}
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="clear"></div>
{% endif %}